.main {
  width: 100%;
  display: flex;
}

.rr-top-8 {
  display: flex;
  width: 18%;
  margin-left: 41%;
  margin-right: 41%;
  flex-direction: column;
  flex-wrap: wrap;
  transition: margin-left 2s ease, margin-right 2s ease;
}
.sf-top-4, .f-top-2, .champion {
  display: flex;
  width: 18%;
  margin-left: 1%;
  margin-right: 1%;
  flex-direction: column;
  justify-content: space-around;
}

.quarter {
  margin-left: 1%;
  margin-right: 1%;
}

.title {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-weight: bold;
  font-size: 3em;
}

.card {
  width: 100%;
  background-color: #909090;
  color: #F3F3F3;
  padding-top: 1%;
  padding-bottom: 1%;
}

.rr-top-8 .card:nth-child(-n+8) {
  background-color: #404040;
}

.avatar-container {
  width: 98%;
  display: flex;
  margin-left: 2%;
  font-family: 'Open Sans';
}

.avatar-container .data-main {
  display: flex;
  flex-wrap: wrap;
  width: 73%;
  margin-left: 2%;
  align-content: center;
}

.avatar-container .data {
  width: 75%;
  display: flex;
  flex-wrap: wrap;
}

.avatar-container .wins {
  width: 23%;
  font-size: 2vw;
  text-align: right;
  padding-right: 2%;

}

.avatar-container .separator {
  border-top: solid 1px;
  width: 100%;
}

.attack img {
  width: 1vw;
  height: 1vw;
}

img:after {
  content: "";
  display: block;
  padding-bottom: 25%;
}

img {
  width: 25%;
  height: 1%;
  margin: 0;
}

.avatar-container .name, .avatar-container .attack {
  width: 100%;
  font-weight: bold;
  font-size: 1vw;
}

.sf-top-4 .data, .f-top-2 .data, .champion .data {
  align-items: center;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3ZBw1xU1rKptJj_0jans920.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
