<div class="title">
  {{title}}
</div>
<div class="rr-top-8">
  <div class="card" *ngFor="let player of players | playerSort | slice:0:8">
    <div class="avatar-container">
        <figure [style.background]="player.background">
          <div class="eyes">
            <div class="eye"></div>
            <div class="eye"></div>
          </div>
        </figure>
        <div class="data">
          <div class="name">{{player.name}}</div>
          <div class="wins">
            <div>Wins</div>
            <div>{{player.wins}}</div>
          </div>
          <div class="attack">
            <div>Attack</div>
            <div>{{player.attack}}</div>
          </div>
        </div>
    </div>
  </div>
</div>
<!-- <div class="rr-runners-up">
  <div class="card" *ngFor="let player of players| slice:8">
    <div class="avatar-container">
      <figure [style.background]="player.background">
        <div class="eyes">
          <div class="eye"></div>
          <div class="eye"></div>
        </div>
      </figure>
      <div class="data">
        <div class="name">{{player.name}}</div>
        <div class="wins">
          <div>Wins</div>
          <div>{{player.wins}}</div>
        </div>
        <div class="attack">
          <div>Attack</div>
          <div>{{player.attack}}</div>
        </div>
      </div>
    </div>
  </div>
</div> -->
