.main {
  width: 100%;
  display: flex;
  height: 95vh;
}

.round-robin {
  display: flex;
  width: 20%;
  margin-left: 30%;
  margin-right: 30%;
  flex-direction: column;
  flex-wrap: wrap;
  transition: margin-left 2s ease, margin-right 2s ease;
}
.qf-top-8, .sf-top-4, .f-top-2, .champion {
  display: flex;
  width: 20%;
  flex-direction: column;
  justify-content: space-around;
}

.avatar-container .health {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.quarter {
  margin-left: 1%;
  margin-right: 1%;
}

.title {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-weight: bold;
  font-size: 3em;
}

.card {
  width: 100%;
  background-color: #909090;
  color: #F3F3F3;
  padding-top: 1%;
  padding-bottom: 1%;
}

.round-robin .card:nth-child(-n+8) {
  background-color: #404040;
}

.avatar-container {
  width: 98%;
  display: flex;
  margin-left: 2%;
  font-family: 'Open Sans';
  position: relative;
}

.avatar-container .data-main {
  display: flex;
  flex-wrap: wrap;
  width: 73%;
  margin-left: 2%;
  align-content: center;
}

.avatar-container .data {
  width: 75%;
  display: flex;
  flex-wrap: wrap;
}

.avatar-container .wins, .avatar-container .health {
  width: 23%;
  font-size: 2vw;
  text-align: right;
  padding-right: 2%;

}

.avatar-container .separator {
  border-top: solid 1px;
  width: 100%;
}

.attack img {
  width: 1vw;
  height: 1vw;
}

img:after {
}

img {
  width: 8vh;
  height: 8vh;
  margin: 0;
}

.avatar-container .name, .avatar-container .attack {
  width: 100%;
  font-weight: bold;
  font-size: 1vw;
}

.qf-top-8 .data, .sf-top-4 .data, .f-top-2 .data, .champion .data {
  justify-content: center;
  flex-direction: column;
}

.hit, .miss, .heal, .winner {
  width: 4vh;
  height: 4vh;
  position: absolute;
  left: 5vh;
  display: none;
  transition: display 0.25s;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3ZBw1xU1rKptJj_0jans920.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
